#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  display: flex;
}
/* стили для блока новостей. */
.news__wrapper {
  width: 60%;
  padding-left: 100px;
  /* border: 1px solid black; */
}
/* стили для реклама.*/
.adv__wrapper {
  width: 40%;
  /* border: 1px solid black; */
  padding: 10px;
}

.adv__img {
  width: 100px;
  height: 100px;
  /* margin: 10px; */
  background-color: lightgray;
  text-align: center;
}

.news__wrapper img {
  margin-bottom: -5px;
}
/* стили для котировок валют */
.currency-div {
  margin-left: 25px;
}
.currency-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.currency-ul li {
  display: inline-block;
  margin-right: 10px;
}

/* стили для блока ресурсы. */
.main {
  display: block;
}
.res__wrapper {
  height: 30px;
  padding-left: 50px;
  /* border: 1px solid black; */
}

.res__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 17%;
}
.res__ul li {
  display: inline-block;
  margin-right: 10px;
}

/* стили для блока поиска */
.search__wrapper {
  padding-left: 50px;
  /* border: 1px solid black; */
}
.search__input {
  width: 50%;
  height: 40px;
  vertical-align: top;
  margin-top: 20px;
}
.search__btn {
  vertical-align: top;
  margin-top: 20px;
}
.search__wrapper span {
  display: block;
  padding-left: 17%;
  margin-top: -20px;
  text-align: left;
}

/* стили для блока баннер */
.banner__wrapper {
  padding-left: 50px;
  /* border: 1px solid black; */
  text-align: center;
  padding: 10px;
}
.banner__img {
  margin-left: 50px;
}

/* стили для подвала */
.footer {
  display: flex;
  justify-content:center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap:2px;
}
.footer-column {
   flex: 1 1 calc(33.333% - 20px);
   max-width: 300px;
   padding: 1rem;
   margin: 10px;
}

/* погода */
.weather__wrapper {
  display: block;
}
.weather__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.weather__wrapper .block1,.block2 {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.weather__wrapper img {
  width: 40px;
  background-color: gray;
}

/* карта */
.map__wrapper {
  display: block;
}
.map__title {
  font-size: 1.5rem;
  font-weight: 600;
}

/* эфир */
.tvbroadcast__wrapper {
  display: block;
}
.tvbroadcast__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.tvbroadcast__wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tvbroadcast__wrapper img {
  width: 10px;
  height: 10px;
  margin-right: 2px;
  background-color: gray;
}

.some__wrapper {
  visibility: hidden;
}

/* Посещаемое */
.visited__wrapper {
  display: block;
}

.visited__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.visited__wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.visited__bold {
  font-size: large;
  font-weight: bold;
}
/* телепрограмма */
.tv__title {
  font-size: 1.5rem;
  font-weight: 600;
}